body {
  background-color: rgb(48, 48, 48);
  color: white;
  margin: 0 auto;
  background-image: url("./images/wall.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  margin-bottom: 2.5rem;
}

h1 {
  text-align: center;
  border-bottom: 1px solid rgb(211, 160, 184);
  box-shadow: 0 0 30px #c271ce;
  padding-bottom: 5px;
  font-size: 2.5rem;
  font-family: "Bungee Inline", cursive;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #c55acb;
}

.game-board {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

#input {
  width: 100%;
  padding: 10px 10px;
  background: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#input::placeholder {
  font-size: 0.8rem;
  color: rgb(216, 213, 213);
}

#input:focus {
  outline: none;
  background-color: rgb(159, 76, 142);
  border-color: #c271ce;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#input.invalid-answer {
  color: rgb(247, 39, 147);
}

.invalidword-alert {
  display: none;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(247, 39, 147);
}

.invalid-answer + .invalidword-alert {
  display: block;
}

.answer-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-grid div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  text-align: center;
}

.letter-span {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  padding: 5px;
  color: #fff;
  border-radius: 2px;
  background-color: rgb(82, 82, 82);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(82, 82, 82),
    0 0 0.8rem rgb(82, 82, 82), 0 0 2.8rem rgb(82, 82, 82),
    inset 0 0 1.3rem rgb(82, 82, 82);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(215, 215, 215), 0 0 82px rgb(215, 215, 215),
    0 0 92px rgb(215, 215, 215), 0 0 102px rgb(215, 215, 215),
    0 0 151px rgb(215, 215, 215);
}

.yellow {
  background-color: rgb(162, 162, 4);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(213, 213, 39),
    0 0 0.8rem rgb(213, 213, 39), 0 0 2.8rem rgb(213, 213, 39),
    inset 0 0 1.3rem rgb(213, 213, 39);
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(215, 215, 215), 0 0 82px rgb(215, 215, 215),
    0 0 92px rgb(215, 215, 215), 0 0 102px rgb(215, 215, 215),
    0 0 151px rgb(215, 215, 215);
}

.green {
  background-color: rgb(57, 147, 57);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(95, 210, 95),
    0 0 0.8rem rgb(95, 210, 95), 0 0 2.8rem rgb(95, 210, 95),
    inset 0 0 1.3rem rgb(95, 210, 95);
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.grey {
  background-color: rgb(82, 82, 82);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(82, 82, 82),
    0 0 0.8rem rgb(82, 82, 82), 0 0 2.8rem rgb(82, 82, 82),
    inset 0 0 1.3rem rgb(82, 82, 82);
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(215, 215, 215), 0 0 82px rgb(215, 215, 215),
    0 0 92px rgb(215, 215, 215), 0 0 102px rgb(215, 215, 215),
    0 0 151px rgb(215, 215, 215);
}

.letter-span:not(:nth-last-of-type(1)) {
  margin-right: 0.5rem;
}

.pop-up-container {
  display: none;
  margin: 0 auto;
  padding: 50px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(31, 31, 31, 0.8);
}

.pop-up-container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.pop-up {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.success {
  background-color: rgb(199, 104, 104);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(199, 104, 104),
    0 0 0.8rem rgb(199, 104, 104), 0 0 2.8rem rgb(199, 104, 104),
    inset 0 0 1.3rem rgb(199, 104, 104);
}
.fail {
  background-color: rgb(104, 104, 199);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(104, 104, 199),
    0 0 0.8rem rgb(104, 104, 199), 0 0 2.8rem rgb(104, 104, 199),
    inset 0 0 1.3rem rgb(104, 104, 199);
}

.fail span {
  background-color: rgb(121, 191, 90);
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(95, 210, 95),
    0 0 0.8rem rgb(95, 210, 95), 0 0 2.8rem rgb(95, 210, 95),
    inset 0 0 1.3rem rgb(95, 210, 95);
  padding: 5px;
}

.how-to-play {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

.how-to-play button {
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: white;
}

.how-to-play:hover button {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 235, 82), 0 0 82px rgb(255, 235, 82),
    0 0 92px rgb(255, 235, 82), 0 0 102px rgb(255, 235, 82),
    0 0 151px rgb(255, 235, 82);
  animation: shake 0.8s;
}

.howtoplay-content-container {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(34, 34, 34, 0.7);
}

.howtoplay-content {
  background-color: rgb(165, 67, 146);
  padding: 1rem;
  position: relative;
  top: 100px;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(165, 67, 146),
    0 0 0.8rem rgb(165, 67, 146), 0 0 2.8rem rgb(165, 67, 146),
    inset 0 0 1.3rem rgb(165, 67, 146);
}

.howtoplay-content h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.howtoplay-content h3 {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.howtoplay-content div {
  display: flex;
}

.howtoplay-content span {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid rgb(171, 171, 171);
}

.howtoplay-content p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 0.3rem 0 1rem;
}

.howtoplay-content p span {
  background: none;
  font-weight: bolder;
  border: none;
}

.howtoplay-content button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
}

.display {
  display: flex;
  justify-content: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}
